

<!-- <router-outlet></router-outlet> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Manipulate Excel</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <input type="file" multiple="true" class="form-control" (change)="handleFile($event)">
            </div>

            <div class="col-md-6">
               <button class="btn btn-success" (click)="handleSubmit()">Modify</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let sheet of inputStruct; let k = index;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Choose To Apply Changes</b>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="sheet_name">Sheet Name</label>
                  <input type="text" class="form-control" [value]="sheet.name" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="sub_sheet_name">Sub Sheet Name</label>
                  <select [(ngModel)]="sheet.selectedSubsheet" name="sub_sheet_name" id="sub_sheet_name" class="form-control">
                    <option *ngFor="let subSheet of sheet.subsheet; let j=index" [value]="j">{{subSheet}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="row_no">Field at Row No.</label>
                  <input [(ngModel)] = "sheet.row" type="number"  id="row_no" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field_name">Field Name</label>
                  <select [(ngModel)]="sheet.fieldKey" name="field_name" id="field_name" class="form-control">
                    <option *ngFor="let field of sheet.field[sheet.subsheet[sheet.selectedSubsheet]][sheet.row]; let k=index;" value="{{k}}">{{field.name}}</option>
                  </select>
                </div>
              </div>

            </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Apply Changes 
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <input [(ngModel)] = "sheet.fieldName" type="text" class="form-control" [value]="sheet.field[sheet.subsheet[sheet.selectedSubsheet]][sheet.row][sheet.fieldKey]['name']">
            </div>
            <div class="col-md-4">
              <select [(ngModel)] = "sheet.fieldType" class="form-control">
                <option value="">--choose--</option>
                <option *ngFor="let type of availableDataTypes; let k=index;" [value]="k">{{type}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <!-- <button class="btn btn-success" (click)="handleSubmit()">Modify</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
